{# templates/admin/admin_dashboard.html.twig #}
{% extends '@EasyAdmin/layout.html.twig' %}

{% block body_javascript %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="{{ asset('js/dashboard.js') }}"></script>
{% endblock %}

{% block main %}
    {% for weatherStation in weatherStations %}
        <li>{{ weatherStation.name }}</li>
    {% endfor %}
    {% for measurement in measurements %}
        <li>{{ measurement.name }}</li>
    {% endfor %}
    <div id="chart"></div>
{% endblock main %}